$phoneBP: 480px;
$tabletBP: 768px;
$desktopBP: 968px;

$primary: rgb(195, 195, 195);
$secondary: rgb(181, 181, 181);
$background: rgb(221, 221, 221);
$fontColor: rgb(32, 31, 41);

body {
    background: $background;
}

.wrapper {
    margin: 0;
    padding: 0;
    color: $fontColor;
    width: 80%;
    margin: 0 auto;

    @media (min-width: $phoneBP) {
        font-size: 16px;
    }

    @media (min-width: $tabletBP) {
        font-size: 20px
    }

    @media (min-width: $desktopBP) {
        font-size: 24px;
    }
}

section {
    padding: 2em 1em;

    &:nth-child(odd) {
        background-color: $primary;
        color: $fontColor;
        
        .header {
            border-bottom: solid 2px $secondary;
        }
    }

    &:nth-child(even) {
        background-color: $secondary;
        color: $fontColor;

        .header {
            border-bottom: solid 2px $primary;
        }
    }

    .header {
        border-bottom: solid 2px;
        display: inline-block;
        font-family: playfair display;        
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: 
        radial-gradient(transparent, rgba(0,0,0,.9)),
        url(../header_hero.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;

    .header {
        font-size: 3em;
        color: $fontColor;
    }
}

.about {    
    display: flex;
    
    .img-container {
        display: flex;
        align-items: center;
        margin-left: 1em;
        width: auto;
        max-width: 500px;
        flex-shrink: 0;
    }

    .header {
        
    }
    
    .content {
        
    }

    @media (min-width: $desktopBP) {
        .img-container {
            width: 400px;
        }
    }
    @media (max-width: $tabletBP) {
        .stack {
            flex-direction: column;
            align-items: center;

            &.reverse {
                flex-direction: column-reverse;
            }
        }
    }
}

.contact {

    .form {
        width: 50%;
    
        input {
            width: 75%;
            padding: 10px 15px;
        }

        .submit {
            margin-top: 2em;
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: .6em;

        label { 
            margin-bottom: .6em;
        }
    }
    .content {
        width: 50%;
    }
}

// Utility classes
.flex {
    display: flex;
    
}
.column {
    flex-direction: column;
}
.stack {
    display: flex;

    @media (max-width: $phoneBP) {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }
}
.img {
    max-width: 100%;
    max-height: 100%;
}

.circle {
    border-radius: 50%;
}
